button.highlight {
    background-color: #007BFF; /* blue */
    color:        blue;
    border:       solid 2px blue;
    border-width: 14;
    font-weight: bold;
}

label {
    font-family: 'Monospace';
    font-size:   14px;
}

text {
    font-family:  'Monospace';
    font-size:    14px;
    border:       solid 1px black;
    border-width: 2;
    height:       30px;
}
